html,
body {
  height: calc(100% - 20px);
  margin: 0;
  padding: 0;
  background: #333;
  font-family: Arial;
}

/*Styles and comments for sliding menu from 
https://apeatling.com/2014/01/building-smooth-sliding-mobile-menu/*/

#page {
	position: relative; /* Set the position property so z-index will apply */
	z-index: 20; /* Make sure this is higher than #menu */
	padding: 20px;
	background: white;
	height: 100%;
}

#page h1 {
	margin: 0;
}

#page p {
	margin-bottom: 3px;
}

#list {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
 
	width: 190px;
	padding: 15px 25px;
	margin: 0;

	list-style: none;
	background: #333;
	z-index: 10; /* Make sure the z-index is lower than the #page */
	color: white;
}

#list a {
	display: block;
	color: #fff;
	padding: 15px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

#map {
  height: calc(100% - 117px);
  width: 100%;
  border:1px solid black;
}

.animating #list, .menu-visible #list {
  display: block;
}
 
/***
 * If the animating class is present then apply
 * the CSS transition to #page over 250ms.
 */
.animating #page {
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
}
 
/***
 * If the left class is present then transform
 * the #page element 240px to the left.
 */	
.animating.left #page {
  transform: translate3d( -240px, 0, 0 );
  -webkit-transform: translate3d( -240px, 0, 0 );
}
 
/***
 * If the right class is present then transform
 * the #page element 240px to the right.
 */
.animating.right #page {
  transform: translate3d( 240px, 0, 0 );
  -webkit-transform: translate3d( 240px, 0, 0 );
}
 
/***
 * If the menu-visible class is present then
 * shift the #page 240px from the right edge
 * via position: absolute to keep it in the 
 * open position. When .animating, .left and
 * .right classes are not present the CSS
 * transform does not apply to #page.
 */
.menu-visible #page {
  right: 240px;
}

#page, #list {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

#buttonList {
	list-style: none;
	padding: 0px;
	font-size: 14px;
}

input {
	font-size: 14px;
}

#buttonList li {
	display: inline;
}

.button {
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border-color: black;
    border-width: thin;
    padding: 10px;
}

.button:hover {
    background: black;
    color: white;
}

#toggle-menu {
	border-style: solid;
	border-width: thin;
	border-color: black;
	float: right;
}